---
import MainLayout from "../layouts/MainLayout.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<MainLayout title="Thai Massage About">
  <div class="content-cmn-sec">
    <ModuleTop title="Despre noi" />
    <ModuleCMN
      content="THAI SENSATION este primul și singurul masaj erotic din Cluj-Napoca, în care maseuzele sunt chiar din țara lor de origine, Thailanda."
    >
      <p>
        Astfel, au o pregătire și un certificat de maseuză thailandeză. Vrem ca
        TU să vii cu mare încredere și noi îți vom garanta că vei gusta din masajul
        thailandez erotic unde te vei simți foarte relaxat, calm și distins
        exact ca în vise.
      </p>
      <p>
        Recomand cu mare încredere masajul thailandez erotic și o să fiți super
        satisfacut și implinit după un masaj senzual erotic thailandez.
      </p>
</ModuleCMN>
<div class="mb-[191px]">
</div>
<!-- de scos asta de sus -->
  </div>
</MainLayout>
