---
import LayoutEnglish from "../layouts/LayoutEnglish.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<LayoutEnglish title="About | Thai Sensation">
  <div class="content-cmn-sec">
    <ModuleTop title="About us">
    <p>Get to know us better!</p>
  </ModuleTop>
    <ModuleCMN
      content="THAI SENSATION is the only thai salon in Cluj-Napoca where the masseuses are actually from Thailand."
    >
      <p>
        Therefore, they have training and certification as a Thai masseuse. We want YOU to come with great confidence, and we will guarantee that you will taste the Thai erotic massage and feel very relaxed and calm, just like in dreams.
      </p>
      <p>
        I highly recommend the Thai erotic massage, and you will truly be satisfied and fulfilled.
      </p>
    </ModuleCMN>
  </div>
</LayoutEnglish>
