---
import MainLayout from '../layouts/MainLayout.astro';
import ModuleTop from '../components/ModuleTop.astro';
---

<MainLayout title="Thai Massage About">
        <div>
            <ModuleTop title="Despre noi"
                />
        </div>
</MainLayout>
