---
import MainLayout from '../layouts/MainLayout.astro';
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<MainLayout title="Thai Massage Contact">
		<div class="content-cmn-sec">
            <ModuleTop title="Contact"/>
			<ModuleCMN content="Aici va veni continutul pentru contact, nu ramane asa">
		  
			</ModuleCMN>
			<div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2732.550504131475!2d23.57024831205913!3d46.773755871005065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490e91bc499b91%3A0x88d6e8262b9fa3a7!2sStrada%20Ion%20Andreescu%2018%2C%20Cluj-Napoca%20400638!5e0!3m2!1sro!2sro!4v1697285056218!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
</MainLayout>
