---
import MainLayout from '../layouts/MainLayout.astro';
import ModuleTop from "../components/ModuleTop.astro";
---

<MainLayout title="Thai Massage Contact">
		<div>
            <ModuleTop title="Contact"/>
		</div>
</MainLayout>

<style>
	
</style>
