---
import MainLayout from '../layouts/MainLayout.astro';
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<MainLayout title="Thai Massage Contact">
		<div class="content-cmn-sec">
            <ModuleTop title="Contact"/>
			<ModuleCMN
			content="Aici va veni continutul pentru contact, nu ramane asa"
		  >
		</ModuleCMN>
		<div class="lg:mb-[307px]">
		</div> 
		<!-- de scos asta de sus -->
		</div>
</MainLayout>

<style>
	
</style>
