---
import MainLayout from "../layouts/MainLayout.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<MainLayout title="Despre | Thai Sensation">
  <div class="content-cmn-sec">
    <ModuleTop title="Despre noi">
    <p>Cunoaște-ne mai bine!</p>
  </ModuleTop>
    <ModuleCMN
      content="THAI SENSATION este unicul salon din Cluj-Napoca unde maseuzele sunt chiar originare din Thailanda."
    >
      <p>
        Astfel, au pregătire și certificat de maseuză thailandeză. Vrem ca TU să
        vii cu mare încredere, iar noi îți vom garanta că vei fi gusta din
        masajul thailandez erotic și că te vei simți foarte relexat și calm,
        exact ca în vise.
      </p>
      <p>
        Recomand cu mare încredere masajul thailandez erotic și o să fiți cu
        adevărat satisfăcut și împlinit.
      </p>
    </ModuleCMN>
  </div>
</MainLayout>
