---
import LayoutMain from "../layouts/LayoutMain.astro";
import Slider from "../components/Slider.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
import ModuleTop from "../components/ModuleTop.astro";
---

<LayoutMain title="Thai Sensation">
  <div class="mt-[114px] lg:mt-[117px] flex flex-col items-center w-full">
    <Slider />
    <div>
      <a
        href="/preturi"
        class="uppercase bg-red p-4 block w-max rounded-xl font-semibold hover:text-black-main mt-[57px] text-lg ro"
      >
        Listă prețuri
      </a>
    </div>
    <div class="title-main">
      <ModuleTop title="Thai Sensation" />
    </div>
    <div class="content-cmn-sec">
      <ModuleCMN
        content="THAI SENSATION este unicul salon thailandez din Cluj-Napoca unde maseuzele sunt chiar originare din Thailanda."
      >
        <p>
          Astfel, au pregătire și certificat de maseuză thailandeză. Vrem ca TU
          să vii cu mare încredere, iar noi îți vom garanta că vei fi gusta din
          masajul thailandez erotic și că te vei simți foarte relexat și calm,
          exact ca în vise.
        </p>
        <p>
          Recomand cu mare încredere masajul thailandez erotic și o să fiți cu adevărat satisfăcut și împlinit. 
        </p>
      </ModuleCMN>
    </div>
  </div>
 
</LayoutMain>


