---
import MainLayout from '../layouts/MainLayout.astro';
import Slider from '../components/Slider.astro';
import Cookies from '../components/Cookies.astro';
import ModuleCMN from '../components/ModuleCMN.astro';
---

<MainLayout title="Thai Massage Home">
		<div class="mt-[120px] flex flex-col items-center w-full">
			<Slider/>
			<Cookies/>
			<div>
				<a href="/preturi" class="uppercase bg-red p-4 block w-max rounded-xl font-semibold hover:text-black-main mt-10 text-lg">
					Listă prețuri
				</a>
			</div>
			<div class="content-cmn-sec">
				<ModuleCMN
				content="THAI SENSATION este primul și singurul masaj erotic din Cluj-Napoca, în care maseuzele sunt chiar din țara lor de origine, Thailanda."
			  >
				<p>
				  Astfel, au o pregătire și un certificat de maseuză thailandeză. Vrem ca
				  TU să vii cu mare încredere și noi îți vom garanta că vei gusta din masajul
				  thailandez erotic unde te vei simți foarte relaxat, calm și distins
				  exact ca în vise.
				</p>
				<p>
				  Recomand cu mare încredere masajul thailandez erotic și o să fiți super
				  satisfacut și implinit după un masaj senzual erotic thailandez.
				</p>
			</div>
			</div>
</MainLayout>

<style>
	
</style>
