---
import MainLayout from "../layouts/MainLayout.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<MainLayout title="Thai Massage Cookies">
  <div class="content-cmn-sec">
    <ModuleTop title="Cookies" />
    <ModuleCMN content="Cookies" />
  </div>
</MainLayout>
