---
import MainLayout from "../layouts/MainLayout.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<MainLayout title="Thai Massage Termeni">
  <div class="content-cmn-sec">
    <ModuleTop title="Confidențialitate" />
    <ModuleCMN content="Politica de confidentialitate" />
  </div>
</MainLayout>
