---
import MainLayout from "../layouts/MainLayout.astro";
import MassageItem from "../components/MassageItem.astro";
import ModuleTop from "../components/ModuleTop.astro";
---

<MainLayout title="Thai Massage Preturi">
  <div class="flex flex-col items-center text-white-main">
    <ModuleTop title="Prețuri" />
    <MassageItem title="Thai Senzation Dream" time="40 min" price="200 lei" />
    <MassageItem title="Thai Senzation Heaven" time="60 min" price="250 lei" />
    <MassageItem title="Thai Senzation Hot Oil" time="60 min" price="300 lei" />
    <MassageItem title="Thai Senzation Power" time="40 min" price="250 lei" />
    <MassageItem title="Thai Senzation Dublu" time="20/25 min" price="350 lei"/>
    <MassageItem title="Thai Senzation Dublu" time="60 min" price="450 lei" />
    <MassageItem title="Thai Senzation Cupluri" time="60 min" price="450 lei" />
  </div>
</MainLayout>

<style></style>
