---
import MainLayout from "../layouts/MainLayout.astro";
import MassageItem from "../components/MassageItem.astro";
import ModuleTop from "../components/ModuleTop.astro";
---

<MainLayout title="Thai Massage Preturi">
  <div class="flex flex-col items-center text-white-main">
    <ModuleTop title="Preturi" />
    <MassageItem
      title="Thai Senzation Dream"
      description="Descriere masaj type"
      time="40 min"
      price="200 lei"
    />
    <MassageItem
      title="Thai Senzation Heaven"
      description="Descriere masaj type"
      time="60 min"
      price="250 lei"
    />
    <MassageItem
      title="Thai Senzation Hot Oil"
      description="Descriere masaj type"
      time="60 min"
      price="300 lei"
    />
    <MassageItem
      title="Thai Senzation Power"
      description="Descriere masaj type"
      time="40 min"
      price="250 lei"
    />
    <MassageItem
      title="Thai Senzation Dublu"
      description="Descriere masaj type"
      time="20/25 min"
      price="350 lei"
    />
    <MassageItem
      title="Thai Senzation Dublu"
      description="Descriere masaj type"
      time="60 min"
      price="450 lei"
    />
    <MassageItem
      title="Thai Senzation Cupluri"
      description="Descriere masaj type"
      time="60 min"
      price="450 lei"
    />
  </div>
</MainLayout>

<style></style>
