---
import MainLayout from "../layouts/MainLayout.astro";
import ModuleTop from "../components/ModuleTop.astro";
---

<MainLayout title="Thai Massage Regulament">
  <div>
    <ModuleTop title="Regulament" />
    <div>
		<hr/>
		<div class="my-12 lg:max-w-[1000px]">
			THAI SENSATION este primul și singurul masaj erotic din Cluj-Napoca, în
			care maseuzele sunt chiar din țara lor de origine, Thailanda. Astfel, au o
			pregătire și un certificat de maseuză thailandeză. Vrem ca TU să vii cu
			mare încredere și noi îți vom garanta că guști din masajul thailandez
			erotic unde te vei simți foarte relaxat, calm și distins exact ca în vise.
		</div>
		<hr/>
    </div>
  </div>
</MainLayout>
