---
import MainLayout from "../layouts/MainLayout.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<MainLayout title="Thai Massage Regulament">
  <div class="content-cmn-sec">
    <ModuleTop title="Regulament" />
    <ModuleCMN
      content="Vrem ca în această incintă să fie tratate cu respect toate maseuzele și hostess-ul, încalcarea acestei reguli va aduce întreruperea serviciilor fără returnarea banilor."
    >
      <p>
        NU rapoartelor sexuale!!! Nu trebuie să vă simțiți ofensați sau refuzați
        dar nu încurajăm relații sexuale între angajat și client, asa că vă rog
        să întelegeți că NU rămâne NU!!!
      </p>
      <p>
        Dacă insistați angajatul o să trebuiască să părăsească încăperea, asa că
        nu insitați cu servicii, extra ședinței de masaj erotic.
      </p>
    </ModuleCMN>
	<div class="mb-[79px]">
		<!-- de scos de aici -->
	</div>
  </div>
</MainLayout>
