---
import MainLayout from "../layouts/MainLayout.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<MainLayout title="Regulament | Thai Sensation">
  <div class="content-cmn-sec">
    <ModuleTop title="Regulament">
      <p>Drepturile și obligațiile clientului!</p>
      </ModuleTop>
    <ModuleCMN
      content="Vrem ca în această incintă să fie tratate cu respect toate maseuzele și hostess-ul, încalcarea acestei reguli va aduce întreruperea serviciilor fără returnarea banilor."
    >
      <p>
        <b>NU rapoartelor sexuale!</b> Nu trebuie să vă simțiți ofensați sau refuzați
        dar nu încurajăm relații sexuale între angajat și client, asa că vă rog
        să întelegeți că <b>NU rămâne NU.</b>
      </p>
      <p>
        Dacă insistați angajatul o să trebuiască să părăsească încăperea, asa că
        nu insitați cu servicii, extra ședinței de masaj erotic.
      </p>
      <a class="opacity-80 font-semibold italic" href="/termeni-conditii">Citește mai multe aici...</a>
    </ModuleCMN>
  </div>
</MainLayout>
