---
import MainLayout from '../layouts/MainLayout.astro';
import ModuleTop from "../components/ModuleTop.astro";
---

<MainLayout title="Thai Massage Regulament">
		<div>
		    <ModuleTop title="Regulament" />
		</div>
</MainLayout>
