---
import LayoutMain from "../layouts/LayoutMain.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<LayoutMain title="Termeni | Thai Sensation">
  <div class="content-cmn-sec termeni-conditii">
    <ModuleTop title="Termeni și condiții">
    <p>
      Prin plasarea unei programari, sunteți de acord cu termenii si
    condițiile de mai jos!
    </p>
  </ModuleTop>
    <ModuleCMN content="">
      <ul class="list-disc list-inside flex flex-wrap gap-3">
        <li>
          Se va permite accesul doar persoanelor cu varsta minimă de 18 ani.
        </li>
        <li>
          Plata se poate efectua la locație, atât în numerar cât și cu cardul.
        </li>
        <li>
          Programările se fac în disponibilitatea personalului.
        </li>
        <li>
          Anularea programărilor se poate efectua prin SMS sau apel telefonic la numărul de contact specificat.
        </li>
        <li>
          Vă recomandăm să ajungeți cu cel puțin 10 minute înainte de începerea programării pentru a discuta și a stabili detaliile referitoare la serviciul dorit.
        </li>
        <li>
          Este important ca toți clienții să respecte maseuzele și hostess-ul , iar încălcarea acestor reguli poate duce la întreruperea serviciilor fără posibilitatea de returnare a banilor.
        </li>
        <li>
          Nu se permite nicio formă de abuz sau insulă la adresa maseuzelor sau a personalului.
        </li>
        <li>
          Nu aveți dreptul de a solicita raporturi sexuale cu angajatele salonului.
        </li>
        <li>
          Ne rezervăm dreptul de a selecta clienții.
        </li>
        <li>
          Toate informațiile cu privire la dumneavoastră vor rămâne confidențiale.
        </li>
        <li>
          Ne rezervăm dreptul de a modifica și actualiza conținutul website-ului, precum și termenii și condițiile de utilizare, fără o notificare prealabilă. Vă rugăm să verificați periodic această secțiune.
        </li>
        <li>
          Ne rezerăm dreptul de a întrerupe sau de a restricționa operațiunile acestui website și nu avem nicio responsabilitate în ceea ce privește disponibilitatea permanentă, neîntrerupta sau neafectarea acestui website și a conținutului său.
        </li>
        <li>
          Website-ul se adresează doar persoanelor cu vârsta peste 18 ani. Prin utilizarea acestui website, sunteți de acord cu termenii și condițiile prezentate în această pagină.
        </li>
        <li>Website-ul conține materiale destinate exclusiv persoanelor adulte și poate include imagini sau conținut explicit.</li>
        <li>Utilizarea website-ului implică acceptarea acestui conținut și confirmarea că aveți vârsta legală.</li>
        <li>În cazul în care nu sunteți de acord eu acești termeni și condiții, vă rugăm să nu utilizați acest website.</li>
      </ul>
    </ModuleCMN>
  </div>
</LayoutMain>