---
import LayoutEnglish from "../layouts/LayoutEnglish.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<LayoutEnglish title="Terms | Thai Sensation">
  <div class="content-cmn-sec termeni-conditii">
    <ModuleTop title="Terms and conditions">
    <p>
        By placing an appointment, you agree to the terms and conditions below!
    </p>
  </ModuleTop>
    <ModuleCMN content="">
      <ul class="list-disc list-inside flex flex-wrap gap-3">
        <li>
            Access will be granted only to individuals aged 18 years or older.
        </li>
        <li>
            Payment can be made on-site, both in cash and by card.
        </li>
        <li>
            Appointments are subject to staff availability.
        </li>
        <li>
            Cancellations can be made via SMS or by calling the specified contact number.
        </li>
        <li>
            We recommend arriving at least 10 minutes before the scheduled appointment to discuss and finalize details regarding the desired service.
        </li>
        <li>
          It is important for all clients to respect the masseuses and the hostess, and the violation of these rules may lead to the termination of services without the possibility of a refund.
        </li>
        <li>
            Any form of abuse or insult towards the masseuses or staff is not permitted.
        </li>
        <li>
            You are not entitled to request sexual services from the salon staff.
        </li>
        <li>
            We reserve the right to select our clients.
        </li>
        <li>
            All information about you will remain confidential.
        </li>
        <li>
            We reserve the right to modify and update the website's content, as well as the terms and conditions of use, without prior notification. Please check this section periodically.
        </li>
        <li>
            We reserve the right to interrupt or restrict the operations of this website and we have no responsibility for its continuous availability, uninterrupted nature, or unaffected status and content.
        </li>
        <li>
            The website is intended for individuals over 18 years of age only. By using this website, you agree to the terms and conditions presented on this page.
        </li>
        <li>The website contains materials intended exclusively for adults and may include explicit images or content.</li>
        <li> Use of the website implies acceptance of this content and confirmation that you are of legal age.</li>
        <li>If you do not agree with these terms and conditions, please do not use this website.</li>
      </ul>
    </ModuleCMN>
  </div>
</LayoutEnglish>