---
import MainLayout from "../layouts/MainLayout.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<MainLayout title="Thai Massage Termeni">
  <div class="content-cmn-sec">
    <ModuleTop title="Termeni și condiții" />
    <ModuleCMN content="Bun venit la Thai Sensation">
      <h5 class="mb-4 !font-semibold">
        Prin plasarea unei programari, sunteti de acord cu termenii si
        conditiile de mai jos!
      </h5>
      <ul>
        <li>
          1. Plata se poate efectua la locatie, atât in numerar cât si cu
          cardul.
        </li>
        <li>
          2. Anularea programarilor se poate face prim SMS sau apel telefonic la
          numarul de contact specificat.
        </li>
        <li>
          3. Va recomandam sa ajungeti cu cel putin 10 minute inainte de
          inceperea programarii pentru a discuta si a stabili detaliile
          referitoare la serviciul dorit.
        </li>
        <li>
          4. Este important ca toti clientii sa respecte maseuzele si hostess ul
          , iar incalearea acestor reguli poate duce la intreruperea servicilor
          fara posibilitatea de returnare a banilor.
        </li>
        <li>
          5. Nu se permite nicio forma de abuz sau insulta la adresa maseuzelor
          sau a personalului.
        </li>
        <li>
          6. Nu aveti dreptul de a solicita raporturi sexuale cu angajatele
          salonului.
        </li>
        <li>
          7. Toate informatiile eu privire la dumneavoastra vor ramane
          confidentiale.
        </li>
        <li>
          8. Ne rezervam dreptul de a modifica si actualiza continutul website
          ului, politica de confidentialitate, precum si termenii si conditile
          de utilizare, fara o notificare prealabila. Va rugam sa verificati
          periodic aceasta sectiune.
        </li>
        <li>
          Ne rezervam dreptul de a intrerupe sau de a restrictiona operatiunile
          acestui website si nu avem nicio responsabilitate in ceea ce priveste
          disponibilitatea permanenta, neintrerupta sau neafectata a acestui
          website si a continutului sau.
        </li>
        <li>
          10. Ne rezervam dreptul de a adauga, modifica sau retrage oricând
          informatii de pe acest website.
        </li>
        <li>
          11. Website-ul se adreseaza doar persoanelor cu vârsta peste 18 ani.
          Prin utilizarea acestui website, sunteti de acord cu termenii si
          conditile prezentate in aceasta pagina.
        </li>
        <li>
          12. in cazul in care nu sunteti de acord eu acesti termeni si
          conditii, vá rugam sa nu utilizati acest website.
        </li>
        <li>
          13. Site ul contine materiale destinate exclusiv persoanelor adulte si
          poate include imagini sau continut explicit. Utilizarea site-ului
          implica acceptarea acestui continut si confirmarea ca aveli vârsta
          legala !!!
        </li>
        <li>14. Ne rezervam dreptul de a selecta clientii</li>
        <li>15. Programarile se fac in disponibilitatea personalului</li>
        <li>
          16. Se permite accesul doar persoanelor cu varsta minima de 18 ani.
        </li>
      </ul>
    </ModuleCMN>
  </div>
</MainLayout>
