---
import MainLayout from "../layouts/MainLayout.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<MainLayout title="Thai Massage Termeni">
  <div class="content-cmn-sec">
    <ModuleTop title="Termeni și condiții" />
    <ModuleCMN content="Termeni si conditii">
Bun venit pe www.......
<br>
Thai Sensation reprezinta un salon unic din Cluj Napoca, in care maseuzele sunt originare din Thailanda.
<br>
Prin plasarea unei programari, sunteti de acord cu termenii si conditiile de mai jos:
<br>
1.	La intrarea in salon, veti fi rugati sa prezentati un act de identitate pentru a dovedi ca aveti peste 18 ani. Intrarea minorilor nu este permisa in salon.
<br>
2. Plata se poate efectua la locatie, atât in numerar cât si cu cardul.
<br>
3. Anularea programarilor se poate face prim SMS sau apel telefonic la numarul de contact specificat.
<br>
4. Va recomandam sa ajungeti cu cel putin 10 minute inainte de inceperea programarii pentru a discuta si a stabili detaliile referitoare la serviciul dorit.
<br>
5. Clientii care intârzie vor beneficia de programarea initiala, insa nu putem garanta un timp suplimentar pentru a compensa intârzierea.
<br>
6. Este important ca toti clientii sa respecte maseuzele si hostess ul , iar incalearea acestor reguli poate duce la intreruperea servicilor fara posibilitatea de returnare a banilor.
<br>
7. Nu se permite nicio forma de abuz sau insulta la adresa maseuzelor sau a personalului.
<br>
8. Nu aveti dreptul de a solicita raporturi sexuale cu angajatele salonului.
<br>
9. Toate informatiile eu privire la dumneavoastra vor ramane confidentiale.
<br>
10. Ne rezervam dreptul de a modifica si actualiza continutul website ului, politica de confidentialitate, precum si termenii si conditile de utilizare, fara o notificare prealabila. Va rugam sa verificati periodic aceasta sectiune.
<br>
11. Ne rezervam dreptul de a intrerupe sau de a restrictiona operatiunile acestui website si nu avem nicio responsabilitate in ceea ce priveste disponibilitatea permanenta, neintrerupta sau neafectata a acestui website si a continutului sau.
<br>
12. Ne rezervam dreptul de a adauga, modifica sau retrage oricând informatii de pe acest website.
<br>
13. Website-ul se adreseaza doar persoanelor cu vârsta peste 18 ani. Prin utilizarea acestui website, sunteti de acord cu termenii si conditile prezentate in aceasta pagina.
<br>
14. in cazul in care nu sunteti de acord eu acesti termeni si conditii, vá rugam sa nu utilizati acest website.
<br>
15. Site ul contine materiale destinate exclusiv persoanelor adulte si poate include imagini sau continut explicit. Utilizarea site-ului implica acceptarea acestui continut si confirmarea ca aveli vârsta legala !!!
<br>
</ModuleCMN>

  </div>
</MainLayout>
