---
import logo from "../img/thai-sensation-logo.png";
import { Image } from "astro:assets";
import tick from "../img/tick-bttn.png";
import close from "../img/close-bttn.png";
import arrow from "../img/arrow.png";
---

<div
  id="ageModal"
  class="modal !hidden absolute inset-0 w-full h-full bg-modal z-[2000] items-center justify-center"
>
  <div
    class="modal-content text-white-main absolute top-1/2 left-1/2 w-[90%] bg-red bg-opacity-80 max-w-[400px] rounded-2xl mx-auto p-4 text-center flex flex-wrap flex-col items-center"
  >
    <Image src={logo} alt="logo" width="140" height="120" loading="eager"/>
    <h2 class="my-2 uppercase !font-bold !text-xl">The Age Verification!</h2>
    <p class="opacity-70 w-[75%] mb-2 text-sm">
      The website contains materials intended exclusively for adults and may include images or explicit content.
    </p>
    <p class="opacity-70 w-[75%] text-sm">
      Using the site implies the acceptance of this content and confirmation of being at least 18 years of age.
    </p>
    <h4 class="text-xl font-bold my-4  uppercase">Are you over 18 years old??</h4>
    <div class="flex gap-4 mb-5">
      <div class="bg-white-main bttn-age text-black-main" id="yesButton">
        <Image src={tick} alt="logo" width="33" height="33" loading="eager"/>
        <p>Yes</p>
      </div>
      <div class="bg-black-main bttn-age" id="noButton">
        <Image src={close} alt="logo" width="33" height="33" loading="eager"/>
        <p>No</p>
      </div>
    </div>
    <div class="flex items-center opacity-80">
      <p class="text-sm mr-2"><span>©</span>Thai Sensation 2023</p>
      <Image src={arrow} alt="logo" width="28" height="33" loading="eager" class="opacity-70 mr-1"/>
      <a href="/" class="font-medium">Website RO</a>
    </div>
  </div>
</div>



