<!-- <div class="wrapper">
  <div>
    <h2>Cookies Consent</h2>
  </div>
  <div class="data">
    <p>This website use cookises</p>
  </div>
  <div class="buttons">
    <button class="button bg-red text-white-main mr-4" id="acceptBtn"
      >Accept</button
    >
    <button class="button" id="closeBtn">Decline</button>
  </div>
</div> -->
