---
import { Icon } from 'astro-icon';
import { Image } from "astro:assets";
import facebook from "../img/facebook.png";
import instagram from "../img/instagram.png";
import whatsapp from "../img/whatsapp.png";
---

<footer class="text-white-main mt-[300px]">
    <div class="footer-content flex flex-col content">
      <div class="foot-content-top">
        <div class="footer-column lg:max-w-[300px]">
          <p class="lg:mb-3">
            Thai sensation este singurul si primul salon de masaj erotic in Cluj
            Napoca unde maseozele sunt din tara lor de origine Thailanda avand
            pregatire si certifcat de maseoza thailandeza.
          </p>
          <div>
            <div class="title-foot-col">
              <h5 class="uppercase font-semibold" >Program</h5>
              <hr/>
            </div>
            <div>
              <p>Luni - Vineri: 10:00 - 19:00 PM</p>
                <div class="social-media font-semibold flex flex-wrap mt-2 gap-5 scale-[0.9] ml-[-18px] mb-2">
                  <!-- <Icon name="mdi:room" /> -->
                  <Image src={facebook} alt="facebook" width="50" height="20"/>
                  <Image src={instagram} alt="instagram" width="50" height="50"/>
                  <Image src={whatsapp} alt="whatsapp" width="50" height="50"/>
                </div>
            </div>
          </div>
          <hr class="bottom-foot-col"/>
        </div>
        <div class="footer-column">
          <div class="title-foot-col">
            <h5>Informatii utile</h5>
            <hr/>
          </div>
          <div>
            <ul>
              <li><a href="/" data-after="Acasa">Acasa</a></li>
              <li><a href="/preturi" data-after="Preturi">Preturi</a></li>
              <li><a href="/about" data-after="Despre">Despre noi</a></li>
              <li><a href="/galerie" data-after="Galerie">Galerie</a></li>
              <li>
                <a href="/regulament" data-after="Regulament">Regulament</a>
              </li>
              <li><a href="/contact" data-after="Contact">Contact</a></li>
            </ul>
          </div>
          <hr class="bottom-foot-col"/>
        </div>
        <div class="footer-column">
          <div class="title-foot-col">
            <h5>Juridic</h5>
            <hr/>
          </div>
          <div>
            <ul>
                <li>
                    <a>Termeni si conditii</a>
                </li>
                <li>
                    <a>Politica de cookies</a>
                </li>
                <li>
                    <a>Politica de confidentialitate</a>
                </li>
          <hr class="bottom-foot-col"/>
          </ul>
            </div>
        </div>
        <div class="footer-column">
          <div class="title-foot-col">
            <h5>Contact</h5>
            <hr/>
          </div>
          <div>
            <ul>
              <li>
                <a>0787426523</a>
            </li>
            <li>
                <a>Email</a>
            </li>
              </ul>
            </div>
          <hr class="bottom-foot-col"/>
        </div>
      </div>
      <div class="foot-content-bottom">
        <div class="copyright flex flex-wrap lg:flex-nowrap justify-center mt-3 lg:mt-0 opacity-[0.6]">
          <p class="mr-2">
            COPYRIGHT <span>@</span> 2023 Thai Sensation.
          </p>
          <p>Toate drepturile rezervate.</p>
        </div>
        <hr class="bottom-foot-col"/>
      </div>
    </div>
  </footer>
  