---
import logo from '../img/thai-sensation-logo.png';
import { Image } from "astro:assets";
import facebook from "../img/facebook.png";
import instagram from "../img/instagram.png";
---
<header
  class="fixed z-[1000] top-0 left-0 w-screen h-auto bg-gray-500"
  id="header"
>
  <div class="header content flex items-center flex-wrap justify-between lg:justify-normal lg:flex-nowrap">
    <div class="nav-content brand pt-2 pb-3">
      <a class="uppercase text-white-main text-lg font-semibold" href="/Massage-Thai-Website"
        ><Image src={logo} alt="logo" width="106" height="200"></a
      >
    </div>
    <div class="nav-content lg:justify-center lg:flex block flex-wrap justify-center lg:w-[96%]">
      <div class="additional-info hidden lg:flex items-center text-xs h-[50px] mb-[10px] text-gray-200">
        <div class="flex gap-3">
          <ul class="flex gap-3">
            <li>
              <a href="tel:0755054654">0755054654 </a>
            </li>
            &#8226;
            <li>
              <a href="https://www.google.com/maps/place/Strada+Ion+Andreescu+18,+Cluj-Napoca+400638/@46.7737559,23.5702483,17z/data=!3m1!4b1!4m6!3m5!1s0x47490e91bc499b91:0x88d6e8262b9fa3a7!8m2!3d46.7737559!4d23.5728286!16s%2Fg%2F11j34nnk24?entry=ttu" target="_blank">Strada Ion Andreescu 18</a>
            </li>
            &#8226;
          </ul>
          <p class="uppercase">Duminică - Miercuri:<span class="ml-2">11:00 - 16:00 PM</span></p>
          &#8226;
          <p class="uppercase">Joi - Sambată:<span class="ml-2">12:00 - 19:00 PM</span></p>
          <div class="rounded-full"></div>
        </div>
        <div class="scale-[0.6] opacity-80">
          <div class="social-media font-semibold flex flex-wrap mt-2 gap-4 scale-[0.9] ml-[-18px] mb-2">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100094104620583">
              <Image src={facebook} alt="facebook" width="40" height="50"/>
            </a>
            <a target="_blank" href="https://instagram.com/thaisensation18?igshid=MzRlODBiNWFlZA==" class="p-[2px]">
              <Image src={instagram} alt="instagram" width="39" height="49"/>
            </a>
          </div>
        </div>
        <hr class="block mt-5 h-[1px]">
    </div>

      <div
        class="nav-bar flex items-center justify-between w-full lg:w-auto px-0 lg:mb-[9px] lg:mt-[-4px]"
      >
       
        <div class="nav-list">
          <div
            class="hamburger relative h-[60px] w-[60px] border-[3px] border-solid border-white-main rounded-full flex items-center justify-center z-[100] cursor-pointer scale-[0.8]"
          >
            <div class="bar h-[2px] w-[30px] relative bg-white-main z-[-1]"></div>
          </div>
          <ul
            class="list-none absolute w-screen h-screen left-full top-0 flex items-center flex-col z-[1] justify-center over overflow-x-hidden opacity-90"
          >
            <li><a href="/Massage-Thai-Website" data-after="Acasa">Acasă</a></li>
            <li><a href="/Massage-Thai-Website/preturi" data-after="Preturi">Prețuri</a></li>
            <li><a href="/Massage-Thai-Website/galerie" data-after="Galerie">Galerie</a></li>
            <li>
              <a href="/Massage-Thai-Website/regulament" data-after="Regulament">Regulament</a>
            </li>
            <li><a href="/Massage-Thai-Website/about" data-after="Despre">Despre noi</a></li>
            <li><a href="/Massage-Thai-Website/contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
    </div>

    </div>
  </div>
</header>
