---
import logo from '../img/thai-sensation-logo.png';
import { Image } from "astro:assets";
---
<header
  class="fixed z-[1000] top-0 left-0 w-screen h-auto"
  id="header"
>
  <div class="header content">
    <div
      class="nav-bar flex items-center justify-between w-full h-full px-0 py-[10px]"
    >
      <div class="brand">
        <a class="uppercase text-white-main text-lg font-semibold" href="/Massage-Thai-Website"
          ><Image src={logo} alt="logo" width="100" height="200"></a
        >
      </div>
      <div class="nav-list">
        <div
          class="hamburger relative h-[60px] w-[60px] border-[3px] border-solid border-white-main rounded-full flex items-center justify-center z-[100] cursor-pointer scale-[0.8] md:mr-4"
        >
          <div class="bar h-[2px] w-[30px] relative bg-white-main z-[-1]"></div>
        </div>
        <ul
          class="list-none absolute w-screen h-screen left-full top-0 flex items-center flex-col z-[1] justify-center over overflow-x-hidden bg-black-main opacity-90"
        >
          <li><a href="/Massage-Thai-Website" data-after="Acasa">Acasă</a></li>
          <li><a href="/Massage-Thai-Website/preturi" data-after="Preturi">Prețuri</a></li>
          <li><a href="/Massage-Thai-Website/galerie" data-after="Galerie">Galerie</a></li>
          <li>
            <a href="/Massage-Thai-Website/regulament" data-after="Regulament">Regulament</a>
          </li>
          <li><a href="/Massage-Thai-Website/about" data-after="Despre">Despre noi</a></li>
          <li><a href="/Massage-Thai-Website/contact" data-after="Contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
