---
interface Props {
  title: string;
  time: string;
  price: string;
}

const { title, time, price } = Astro.props;
---

<div class="massage-item flex justify-between w-full md:w-[600px] flex-col mb-10 max-w-[600px]">
    <div class="flex justify-between items-center md:items-baseline">
        <div class="">
            <h3 class="w-min sm:w-full">
                {title}
            </h3>
        </div>
        <div class="content-massage flex">
            <div class="text-lg flex w-max ml-2 md:ml-0 flex-col sm:flex-row items-end">
                <div>{time}</div> 
                <span class="hidden sm:block sm:mx-2">-</span> 
                <div class="flex-none">{price}</div>
            </div>
        </div>
    </div>
    <div class="w-full h-[1px] mt-4 bg-red"></div>
</div>
