---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

<div class="content-bottom-sec">
  <hr/>
  <div class="text-content-sec">
    <p>
        {content}
    </p>
    <slot/>
  </div>
  <hr />
</div>
