---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="module-top flex flex-wrap items-center justify-center h-[200px] mt-[93px] mb-[25px]"
>
  <div class="flex text-center items-center relative">
    <h2 class="block uppercase font-semibold relative w-fit animate-textreveal">
      {title}
      <span class="absolute top-0 left-0 h-full w-0 bg-red animate-textrevealbox"></span>
    </h2>
  </div>
</div>