---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="module-top flex flex-wrap items-center justify-center mt-[162px] md:mt-[182px] mb-[70px] md:mb-[90px]"
>
  <div class="flex text-center items-center relative flex-col">
    <h2 class="">
      {title}
      <slot/>
      <span
      class="absolute top-0 left-0 h-full w-0 bg-red animate-textrevealbox"
      >
    </span>
    </h2>
  </div>
</div>
