.contact-content {
  .map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    img {
      filter: hue-rotate(180deg) !important;
    }
  }
  .content-bottom-sec {
    hr {
      @apply hidden;
    }
    .text-content-sec {
      p {
        @apply absolute;
      }
      @apply flex justify-between flex-col;
      .contact-column {
        @apply flex flex-col items-center text-center justify-between;
        ul {
          li {
            @apply flex items-center justify-center;
            a {
              &:hover {
                @apply transition-none;
              }
            }
            img {
                @apply mr-2;
            }
          }
        }
        .title-cmn {
            hr {
                @apply block opacity-100;
            }
        }
        &:first-of-type {
            .title-cmn {
                @apply mt-0;
            }
        }
    }
    }
  }
}

@screen md-media {
    .contact-content {
        .content-bottom-sec { 
            @apply ml-[36px];
            .text-content-sec {
        @apply gap-[160px] flex-row;
                .contact-column {
                    @apply w-[14vw];
                    ul {
                        a {
                            @apply flex-none;
                        }
                    }
                }
            }
        }
    }   
}


@screen lg-media {
    .contact-content {
        .content-bottom-sec { 
            @apply ml-0;
            .text-content-sec {
        @apply gap-[178px];
                .contact-column {
                    @apply w-[20vw];
                    ul {
                        a {
                            @apply flex-none;
                        }
                    }
                }
            }
        }
    }   
}

