.slider {
  .slider-track {
    .slide {
      @apply h-[300px] w-[300px] flex items-center p-4 pt-[50px];
      perspective: 100px;
      a {
        @apply w-full;
        transition: transform 1s;
        &:hover {
          @apply cursor-pointer;
          transform: translateZ(20px);
        }
      }
      img {
        @apply w-full;
      }
    }
    &:hover {
      animation-play-state: paused;
    }
  }
  &::before {
    @apply left-0 top-0;
  }
  &::after {
    @apply right-0 top-0;
    transform: rotateZ(180deg);
  }
}

.title-main {
    .module-top {
      @apply my-[40px];
      h2 {
        @apply animate-textrevealmain md:text-[70px] text-[50px] md:my-5;
        color: transparent;
        animation-delay: 1s;
        span {
          animation-delay: 0.5s;
        }
      }
    }
}

.termeni-conditii {
  p {
    @apply text-xl text-center font-medium;
  }
  ul {
    li {
      &::marker {
        @apply text-red text-xl;
      }
    }
  }
}