.slider {
    .slider-track {
      .slide {
        @apply h-[300px] w-[300px] flex items-center p-4;
        perspective: 100px;
        img {
          @apply w-full;
          transition: transform 1s;
          &:hover {
            @apply cursor-pointer;
            transform: translateZ(20px) ;
          }
        }
      }
      &:hover {
        animation-play-state: paused;
      }
    }
    &::before,
    &::after {
      /* background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%,  rgba(255,255,255,0) 100%); */
      @apply content-[''] h-full absolute w-[15%] z-20;
    }
    &::before {
      @apply left-0 top-0;
    }
    &::after {
      @apply right-0 top-0;
      transform: rotateZ(180deg);
    }
  }